<div>
    <div class="alert alert-success" ng-show="successMessage"><span ng-bind="successMessage"></span></div>
    <div class="alert alert-danger" ng-show="errorMessage"><span ng-bind="errorMessage"></span></div>

    <br/>
    <a href="#/" class="btn btn-sm btn-primary"><i class="fa fa-angle-left"></i> Back</a>
    <br/>
    <br/>
    
    <h1>Add New Person</h1>

    <form novalidate name="newPersonForm" ng-submit="addPerson()">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" ng-model="newPerson.name" required/>
            <span ng-show="newPersonForm.name.$error.required" class="text-warning" ng-cloak>Name is required</span>
        </div>
        <div class="form-group">
            <label for="name">Meaning</label>
            <input class="form-control" type="text" id="meaning" name="meaning" ng-model="newPerson.meaning"/>
        </div>
        <div class="form-group">
            <label for="genderType">Gender Type</label>
            <select class="form-control" id="genderType" name="genderType" ng-model="newPerson.genderType" ng-options="x for x in genderTypes" required></select>
            <span ng-show="newPersonForm.genderType.$error.required" class="text-warning" ng-cloak>Gender Type is required</span>
        </div>
        <div class="form-group">
            <label for="name">Unknown Start</label>
            <input class="form-control" type="number" id="unknownStart" name="unknownStart" ng-model="newPerson.unknownStart" min="-4030" max="2020" />
            <span ng-show="newPersonForm.unknownStart.$error.min || newPersonForm.unknownStart.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">Start</label>
            <input class="form-control" type="number" id="start" name="start" ng-model="newPerson.start" min="-4030" max="2020" required/>
            <span ng-show="newPersonForm.start.$error.required" class="text-warning" ng-cloak>Start year is required</span>
            <span ng-show="newPersonForm.start.$error.min || newPersonForm.start.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">End</label>
            <input class="form-control" type="number" id="end" name="end" ng-model="newPerson.end" min="-4030" max="2020" required/>
            <span ng-show="newPersonForm.end.$error.required" class="text-warning" ng-cloak>End year is required</span>
            <span ng-show="newPersonForm.end.$error.min || newPersonForm.end.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">Unknown End</label>
            <input class="form-control" type="number" id="unknownEnd" name="unknownEnd" ng-model="newPerson.unknownEnd" min="-4030" max="2020"/>
            <span ng-show="newPersonForm.unknownEnd.$error.min || newPersonForm.unknownEnd.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">Image Url</label>
            <input class="form-control" type="text" id="imageUrl" name="imageUrl" ng-model="newPerson.imageUrl"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Add"
                   class="btn btn-sm btn-success"
                   ng-disabled="newPersonForm.$invalid"/>
        </div>
    </form>
</div>