<div>
    <div class="alert alert-success" ng-show="successMessage"><span ng-bind="successMessage"></span></div>
    <div class="alert alert-danger" ng-show="errorMessage"><span ng-bind="errorMessage"></span></div>

    <div class="text-center" ng-show="isBusy">
        <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
    </div>

    <br/>
    <a href="#/" class="btn btn-sm btn-primary"><i class="fa fa-angle-left"></i> Back</a>
    <br/>
    <br/>

    <h1>Edit <span ng-bind="person.name"></span></h1>

    <form novalidate name="editPersonForm" ng-submit="editPerson()">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" ng-model="person.name" required />
            <span ng-show="editPersonForm.name.$error.required" class="text-warning" ng-cloak>Name is required</span>
        </div>
        <div class="form-group">
            <label for="name">Meaning</label>
            <input class="form-control" type="text" id="meaning" name="meaning" ng-model="person.meaning" />
        </div>
        <div class="form-group">
            <label for="name">Unknown Start</label>
            <input class="form-control" type="number" id="unknownStart" name="unknownStart" ng-model="person.unknownStart" min="-4030" max="2020" />
            <span ng-show="editPersonForm.unknownStart.$error.min || personForm.unknownStart.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">Start</label>
            <input class="form-control" type="number" id="start" name="start" ng-model="person.start" min="-4030" max="2020" />
            <span ng-show="editPersonForm.start.$error.min || newPersonForm.start.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">End</label>
            <input class="form-control" type="number" id="end" name="end" ng-model="person.end" min="-4030" max="2020" />
            <span ng-show="editPersonForm.end.$error.min || personForm.end.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">Unknown End</label>
            <input class="form-control" type="number" id="unknownEnd" name="unknownEnd" ng-model="person.unknownEnd" min="-4030" max="2020" />
            <span ng-show="editPersonForm.unknownEnd.$error.min || newPersonForm.unknownEnd.$error.max" class="text-warning" ng-cloak>Not a valid number</span>
        </div>
        <div class="form-group">
            <label for="name">Image Url</label>
            <input class="form-control" type="text" id="imageUrl" name="imageUrl" ng-model="person.imageUrl" />
        </div>
        <div class="form-group">
            <input type="submit" value="Update"
                   class="btn btn-sm btn-success"
                   ng-disabled="editPersonForm.$invalid" />
        </div>
    </form>

    <br />
    <br />
    <button class="btn btn-sm btn-danger" ng-click="deletePerson()">Delete</button>
    
    <br />
    <br />
    <h3>Events</h3>

    <br />
    <a ng-href="#/eventAdd/{{personId}}" class="btn btn-sm btn-primary">Add</a>
    <br />
    <br />

    <div class="gridStyle" ui-grid="eventsGridOptions"></div>
    
    <br />
    <h3>Relationships</h3>
    
    <br />
    <a ng-href="#/relationshipAdd/{{personId}}" class="btn btn-sm btn-primary">Add</a>
    <br />
    <br />
    
    <div class="gridStyle" ui-grid="relationshipsGridOptions"></div>

</div>