@{
    ViewData["Title"] = "Persons";
}
@section Scripts{
    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-ui-grid/ui-grid.js"></script>
        <script src="~/lib/showdown/dist/showdown.js"></script>
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/app-persons.js" asp-append-version="true"></script>
        <script src="~/js/personsController.js" asp-append-version="true"></script>
        <script src="~/js/personAddController.js" asp-append-version="true"></script>
        <script src="~/js/personEditController.js" asp-append-version="true"></script>
        <script src="~/js/eventAddController.js" asp-append-version="true"></script>
        <script src="~/js/eventEditController.js" asp-append-version="true"></script>
        <script src="~/js/relationshipAddController.js" asp-append-version="true"></script>
        <script src="~/js/relationshipEditController.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js"
                asp-fallback-src="~/lib/angular-sanitize/angular-sanitize.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"
                asp-fallback-src="~/lib/angular-route/angular-route.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.0/ui-grid.min.js"
                asp-fallback-src="~/lib/angular-ui-grid/ui-grid.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.1/showdown.min.js"
                asp-fallback-src="~/lib/showdown/dist/showdown.min.js">
        </script>
        <script src="~/js/simpleControls.min.js" asp-append-version="true"></script>
        <script src="~/js/app-persons.min.js" asp-append-version="true"></script>
        <script src="~/js/personsController.min.js" asp-append-version="true"></script>
        <script src="~/js/personAddController.min.js" asp-append-version="true"></script>
        <script src="~/js/personEditController.min.js" asp-append-version="true"></script>
        <script src="~/js/eventAddController.min.js" asp-append-version="true"></script>
        <script src="~/js/eventEditController.min.js" asp-append-version="true"></script>
        <script src="~/js/relationshipAddController.min.js" asp-append-version="true"></script>
        <script src="~/js/relationshipEditController.min.js" asp-append-version="true"></script>
    </environment>
}

<div ng-app="app-persons">

    <div ng-view></div>

</div>
